.Doadores {
    margin: 0;
    .doacao{
        margin: 0;
        width: 1276px;
        height: 100%;
        background-image: url('./imagem/doarImagem.jpg');
        background-size: cover;
    }
    
}

.Doadores h1 {
    // margin: 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.titulo{
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:black;
    
}

.transparencia{
    background-color: rgba(0, 0, 0, 0.123);
    height: 100vh;
    width: 100%;
}
footer{
    background-color: black;
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    p{
        font-size: 20px;
        color: white;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    }
}